*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.container{
    width: 100%;
    min-height: 100vh;
   background: linear-gradient(135deg ,rgb(56, 158, 56),rgb(59, 59, 145),rgb(161, 77, 77));
   
   padding: 10px;
}
.calculator{
    width: 100%;
    min-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
    
}
.calculator h1{
    font-weight: 600;
    font-size: 60px;
    
}
.calculator span{
    color: yellow;
    font-size: 75px;
  
}
.input-box{
    width: 500px;
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background-color: rgb(149, 147, 147);
    display: flex;
    align-items: center;
    border: dashed 3px rgb(224, 68, 162);
    
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 12px 20px;
    outline: 0;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background-color: #ffff76;
    border:0 ;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    border:solid 2px rgb(130, 28, 142);
}
.input-box input::-web{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% -10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 40px;
}
#result span{
    color: rgb(191, 242, 8);
}